/* Complete CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
p {
  margin-block-end: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  color: inherit;
}

/* Global Changes w/ Root */
:root {
  /* Colors */
  --clr-green: hsl(75, 94%, 57%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);

  /* Font */
  --FF: "Inter", sans-serif;

  --FS-14: 0.9rem; /* 14px */
  --FS-16: 1rem; /* 16px */
  --FS-24: 1.5rem; /* 24px */

  --FW-400: 400;
  --FW-600: 600;
  --FW-700: 700;
}

/* Typography */
body {
  font-family: var(--FF);
  font-size: var(--FS-16);
  color: var(--clr-white);
}

.user-name,
.user-location,
.user-tag {
  text-align: center;
}

.user-name {
  font-size: var(--FS-24);
  font-weight: var(--FW-700);
}

.user-location,
.social-media-link {
  font-weight: var(--FW-600);
}

.user-location,
.user-tag {
  font-size: var(--FS-14);
}

.user-location {
  color: var(--clr-green);
}

.user-tag {
  font-weight: var(--FW-400);
}

/* General */
.container {
  background-color: var(--clr-grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 375px;
  margin: 0 auto;
}

.profile-container {
  background-color: var(--clr-grey-800);
  padding: 2.5em;
  border-radius: 1.2em;
  max-width: 375px;
}

.user-avatar {
  margin: 0 auto 1.55em;
  width: 40%;
  border-radius: 50%;
}

.user-name {
  margin-bottom: 0.375em;
}

.user-location {
  margin-bottom: 0.8em;
}

.user-tag {
  margin-bottom: 1.1em;
}

.social-media-container {
  display: grid;
  align-items: center;
}

.social-media-link {
  background-color: var(--clr-grey-700);
  border: none;
  margin-bottom: 0.938em;
  padding: 0.938em;
  border-radius: 0.8em;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--clr-green);
  color: var(--clr-black);
}
